name: Update Data

on:
  schedule:
    - cron: '*/5 * * * *'  # Her 5 dakikada bir çalışacak
  workflow_dispatch:  # Manuel çalıştırma seçeneği

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install requests
        run: pip install requests

      - name: Run fetch.py
        run: python fetch.py

      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add data.json
          git commit -m "Update data.json"
          git push
